@font-face {
    font-family: DeterminationMono;
    src: url(https://toadsworthlp.github.io/ThisIsChujin/assets/fonts/DeterminationMono.otf);
}

body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    background: black;
    color: white;
    font-family: DeterminationMono, monospace;
}

h1, h2, h3 {
    font-weight: normal;
    text-align: center;
}

a {
    color: lightgrey;
}

.button-row {
    display: flex;
}

.copied-message {
    margin-left: 16px;
}

.spacer {
    margin-top: 64px;
}

.script-input {
    width: 100%;
    height: 50vh;

    font-family: DeterminationMono, monospace;
    font-size: 1rem;
}

.create-button {
    font-family: DeterminationMono, monospace;
    font-size: 1.5rem;
}